<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>attach_file '${1:id_or_name_or_label}', "${2:path}"</string>
	<key>name</key>
	<string>attach_file</string>
	<key>scope</key>
	<string>source.ruby.rspec</string>
	<key>tabTrigger</key>
	<string>atf</string>
	<key>uuid</key>
	<string>CFF109A9-E49B-48BB-9827-081BF80A0ABB</string>
</dict>
</plist>
