<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>choose '${1:label}'</string>
	<key>name</key>
	<string>choose</string>
	<key>scope</key>
	<string>source.ruby.rspec</string>
	<key>tabTrigger</key>
	<string>cho</string>
	<key>uuid</key>
	<string>E13A64E8-356D-45C7-90FE-3C217CA9CCD4</string>
</dict>
</plist>
