<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>click_button '${1:value}'</string>
	<key>name</key>
	<string>click_button</string>
	<key>scope</key>
	<string>source.ruby.rspec</string>
	<key>tabTrigger</key>
	<string>cli</string>
	<key>uuid</key>
	<string>E4273C30-BCC4-4399-AA8D-5596B53E0329</string>
</dict>
</plist>
