<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>click_on '${1:locator}'</string>
	<key>name</key>
	<string>click_on</string>
	<key>scope</key>
	<string>source.ruby.rspec</string>
	<key>tabTrigger</key>
	<string>clo</string>
	<key>uuid</key>
	<string>A2097FE1-E39E-1C3F-65F3-D28F0DCA9FFE</string>
</dict>
</plist>
