<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>save_and_open_page</string>
	<key>name</key>
	<string>save_and_open_page</string>
	<key>scope</key>
	<string>source.ruby.rspec</string>
	<key>tabTrigger</key>
	<string>sav</string>
	<key>uuid</key>
	<string>E8B84D63-34DD-4A29-B60F-437127D29398</string>
</dict>
</plist>
