<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>unselect '${1:id_or_name_or_label}'</string>
	<key>name</key>
	<string>unselect</string>
	<key>scope</key>
	<string>source.ruby.rspec</string>
	<key>tabTrigger</key>
	<string>uns</string>
	<key>uuid</key>
	<string>A212BF16-DADD-20B5-FEBB-6AD8E5DB2DB8</string>
</dict>
</plist>
